{"http_interactions":[{"request":{"method":"get","uri":"https://layervault.com/api/v1/organizations/LayerVault/Designer%20News/Shirt","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["Bearer <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["400 Bad Request"], "X-Rate-Limit-Remaining":["291"], "X-Rate-Limit-Limit":["300"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdGF0dXMiOiJCYWQgUmVxdWVzdC4ifQ==\n"},"http_version":null},"recorded_at":"Thu, 10 Oct 2013 00:32:59 GMT"}],"recorded_with":"VCR 2.6.0"}