{"http_interactions":[{"request":{"method":"post","uri":"https://layervault.com/api/v1/layervault-test/Test%20Doge%20Project%20Sacrifice","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["Bearer <<ACCESS_TOKEN>>"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Location":["/api/v1/layervault-test/Test%20Doge%20Project%20Sacrifice"], "X-Rate-Limit-Limit":["1000"], "X-Rate-Limit-Remaining":["864"]},"body":{"encoding":"UTF-8","base64_string":"bnVsbA==\n"},"http_version":null},"recorded_at":"Wed, 06 Nov 2013 21:12:21 GMT"},{"request":{"method":"delete","uri":"https://layervault.com/api/v1/layervault-test/Test%20Doge%20Project%20Sacrifice","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["Bearer <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Rate-Limit-Limit":["1000"], "X-Rate-Limit-Remaining":["863"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6InN1Y2Nlc3MifQ==\n"},"http_version":null},"recorded_at":"Wed, 06 Nov 2013 21:12:21 GMT"}],"recorded_with":"VCR 2.6.0"}